@import url(./b.css);
/*[data-x].active{outline: 10px solid red;}*/
/*[data-x].animate{animation: slideUp 0.5s;}*/
[data-x].offset{transform: translateY(100px);}
[data-x]{transform: translateY(0px);transition: all 0.5s}
@keyframes slideUp{
    0%{transform: translateY(-30px);}
    100%{transform: translateY(0px);}
}
/*.wel{display: none;position: fixed;top:0;left: 0;width: 100%;height: 100%;background: #999;z-index: 1;justify-content: center;align-items: center;}*/
/*.wel.active{display: flex;}*/
.icon {width: 1em; height: 1em;vertical-align: -0.15em;fill: currentColor;overflow: hidden;}
.topNavBar{color:#b7b7b7;padding:20px 0;position:fixed;top:0;left:0;width:100%;transition: all 0.3s}
.topNavBar.sticky{background: #fff;padding: 10px 0;z-index: 1;box-shadow: 0 0 10px rgba(0,0,0,0.3);color: #3d4451;}
.topNavBar-inner{padding:0 16px;}
.topNavBar nav{padding-top:5px;float:right;}
.topNavBar nav > ul{list-style:none;}
.topNavBar nav > ul > li{float:left;margin-left:17px;margin-right:17px;position: relative;}
.topNavBar nav > ul > li > a{position: relative;font-size:12px;color: inherit;font-weight:bold;border-top:3px solid transparent; /*为了下面 hover 的时候 li 不会晃动*/border-bottom:3px solid transparent; /*为了下面 hover 的时候 li 不会晃动*/padding:5px 0;display:block;  /*为了让 a 的边界和 li 的边界相同*/}
.topNavBar nav > ul > li.active > a::after,.topNavBar nav > ul > li.highlight > a::after{content: '';display: block;position: absolute;background: #d86f6c;top: 100%;left: 0;width: 100%;height: 3px;animation: menuSlide 0.3s;}
@keyframes menuSlide{
    0%{width: 0;}
    100%{width: 100%;}
}
.topNavBar .submenu{cursor: pointer; display: none;position: absolute;right: 0;top: 100%;background: #fff;color: #3d4451;box-shadow: 0 0 5px rgba(0,0,0,0.3);}
.topNavBar li.active > .submenu{display: block;animation: submenuSlide 0.3s;}
@keyframes submenuSlide{
    0%{margin-right: 100%;}
    100%{margin-right: 0%;}
}
.topNavBar .submenu > li{white-space: nowrap;padding: 5px 10px;}
.topNavBar .logo{padding-top:3px;padding-bottom:4px;font-size:24px;font-family:"Arial Black";float:left;}
.topNavBar .logo .rs{margin-right:4px;color:#d86f6c;}
.topNavBar .logo .card{color:#9b9ca2;}
.banner{height:515px;background-image:url(./img/rs-cover.jpg);background-position:center center;background-size:cover;}
.banner .mask{height:515px;background:rgba(0,0,0,0.8);}
.userCard{max-width:940px;margin-left:auto;margin-right:auto;background:#fff url();box-shadow:0px 1px 5px 0px rgba(0,0,0,0.5);}
.userCard .welcome{position:relative;background:#d86f6c;color:#fff;padding:4px 16px;line-height:22px;margin-bottom:10px;}

/*三角形*/
.userCard .welcome .triangle{display:block;border:10px solid transparent;width:0px;border-left-color:#e6686a;border-top-width:0px;position:absolute;left:4px;top:100%;}
.userCard .picture{float:left;}
.userCard .text{float:left;margin-left:65px;width:470px;}
.userCard .text h1{margin-top:32px;}
.userCard .text hr{margin:20px 0;}
.userCard .pictureAndText{padding:50px;}
.userCard dl dt,.userCard dl dd{float:left;padding:5px 0;}
.userCard dl dt{width:30%;font-weight:bold;}
.userCard dl dd{width:70%;color:#9da0a7;}
.userCard .media{background:#e6686a;text-align:center;}
.userCard .media a{display:inline-block;border-radius:50%;width:40px;padding:5px 0;line-height:30px;margin:16px;}
.userCard .media a:hover{background:#cf5d5f;}
.userCard svg{width:30px;height:30px;fill:#fff;    /*margin: 0 16px;*/vertical-align:top;}
body main{margin-top:-340px;}
body main .downloadResume-wrapper{text-align:center;}
body main .downloadResume{font-size:14px;line-height:16px;padding:21px 55px;display:inline-block;border:1px solid #cdcfd1;background:#efefef;border-radius:2px;color:#3d4451;font-weight:bold;margin:32px 0;transition:box-shadow 0.3s;}
body main .downloadResume:hover{box-shadow:0px 4px 13px 0px rgba(0,0,0,0.5);}
.selfIntroduction{max-width:940px;margin-left:auto;margin-right:auto;text-align:center;font-family:kai;line-height:1.8;font-size:18px;}
.skills,.portfolio{margin-top:60px;max-width:940px;margin-left:auto;margin-right:auto;}
.skills h2,.portfolio h2{text-align:center;color:#3d4451;font-size:34px;line-height:1.2;font-weight:600;}
.skills h3{font-size:14px;line-height:1.1;padding-right:40px;}
.skills ol{background:#fff;box-shadow:0px 1px 5px 0px rgba(0,0,0,0.5);padding:42px 50px 10px;margin-top:30px;}
.skills ol li{float:left;width:48%;box-sizing:border-box;}
.skills ol li:nth-child(even){float:right;}
.skills .progressBar{height:5px;background:#fae1e1;border-radius:2px;margin:4px 0 40px;overflow: hidden;}
.skills .progressBar .progress{height:100%;background:#e6686a;width:70%;border-radius:2px;transform: translateX(0%);transition: all 1s;}
.skills.offset .progress{transform: translateX(-100%);}
.portfolio{text-align:center;margin-bottom:100px;max-width: 720px;}
.portfolio h2{margin-bottom:32px;}
/*.portfolio nav{text-align:center;display:inline-block;vertical-align:top;margin-top:32px;}
.portfolio nav ol{display:inline-block;margin:0 auto;vertical-align:top;}
.portfolio nav ol li{float:left;margin-left:40px;cursor:pointer;}
.portfolio nav ol li:nth-child(1){margin-left:0;}
.portfolio nav .bar{height:5px;background:#fff;margin-top:5px;border-radius:2px;margin-bottom:30px;}
.portfolio nav .bar-inner{height:100%;background:#e6686a;border-radius:2px;transition:all 0.3s;}
.portfolio nav .state-1 .bar-inner{width:30px;margin-left:0;}
.portfolio nav .state-2 .bar-inner{width:50px;margin-left:65px;}
.portfolio nav .state-3 .bar-inner{width:100px;margin-left:150px;}
.portfolio .works{position:relative;}
.portfolio .works > .big,.portfolio .works > .small{position:absolute;}*/
.portfolio .swiper-container {width: 668px;height: 501px;background: #fff;}
.portfolio .swiper-button-prev{background-color: #fff;width:64px;height: 64px;right: 100%;left: auto;border-radius: 50%;}
.portfolio .swiper-button-next{background-color: #fff;width:64px;height: 64px;right: auto;left: 100%;border-radius: 50%;}