body{
	background: #fff;
}
*{
	margin: 0;
    padding: 0;
}
/*hr{
	height: 0;
	border: none;
	border-top: 1px solid #dedede;
}*/
a{
    text-decoration: none;
}
ul,ol{
	list-style: none;
}
.clearfix::after{
    content:"";
    display: block;
    clear: both;
}
@keyframes hua{
	0%{
		transform: translateX(-400px);
		opacity: 0;
		}
	50%{
		transform: translateX(30px);
		opacity: 0.9;
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}
.mainBox{
	min-width: 1200px;
}
.topNavBar{
	background: url(../img/bg.jpg);
	background-position: center center;
    background-size:cover;
	height: 334px;
    top: 0;
    left: 0;
    width: 100%;
}

.topNavBar-inner{
    padding: 0 16px;
}
.topNavBar-box{
	width: 1200px;
	margin: 0 auto;
}
.topNavBar-inner .logo{
	margin: 0 auto;
	text-align: center;
}
.topNavBar-inner .logo img{
	display: inline-block;
	width: 80px;
	height: 120px;
}
.topNavBar-inner .logo .name{
	margin-top: 30px;
	color: #dedede;
	display: inline-block;
	vertical-align: top;
}
.topNavBar-inner .logo h1{
	font-size: 40px;
	vertical-align: top;
}
.topNavBar-inner .logo p{
	font-size: 18px;
	display: inline-block;
	color: #dedede;
}
.topNavBar-inner  .tel{
	float: right;
	margin-bottom: 10px;
}
.topNavBar-inner h3{
	padding: 5px;
	color: #fff;

}
.topNavBar .slogan{
	color: #fff;
	text-align: center;
	padding: 20px;
}
.topNavBar .slogan h2{
	animation: hua 5s infinite;
}
main{
	max-width: 1200px;
	margin: 0 auto;
}

main .mainTop{
	padding: 20px 0;
	text-align: center;
}
main .mainTop h1{
	font-size: 46px;
	display: inline-block;
	letter-spacing: 5px;
	border-bottom: 2px solid #000;
	padding-bottom: 16px;
	margin: 20px;
}
main .mainTop h1 b{
	color: #ec781b;
}
main .mainTop .proBar{
	margin: 20px;
}
main .mainTop .pro{
	margin: 50px 10px;
	padding: 30px 10px;
	width: 188px;
	display: inline-block;
	border: 1px dashed #000;
	border-radius: 30px;
	position: relative;
}

main .mainTop .pro::before{
	content: '';
	height: 30%;
	border-left: 1px dashed #000;
	position: absolute;
	bottom: 100%;
}
main .mainTop .pro::after{
	content: '';
	width: 115%;
	border-top: 1px dashed #000;
	position: absolute;
	left: -8%;
	bottom: 130%;
}
main .mainTop .pro h3{
	font-weight: normal;
	color: #e49977;
}
main .mainTop .pro p{
	font-size: 14px;
	font-weight: bold;
	padding: 20px 0;
}
main .mainTop .ad{
	font-size: 60px;
	color: #ea951a;
	font-weight: bold;
}
main .serve h1 b{
	color: #ec713c;
}
main .serve p{
	margin: 10px 0;
	color: #897d7d;
}
nav{
	text-align: center;
}
nav .navList{
	margin: 0 28px;
	display: inline-block;
	width: 302px;
	border: 3px solid #99ace0;
}
nav .navList h1{
	display: inline-block;
	font-size: 30px;
	font-weight: normal;
	margin: 20px;
	padding: 10px;
	border-bottom: 1px solid #e7ac34;
}
nav .navList ol li{
	font-size: 17px;
	color: #4e4e4e;
	line-height: 1.8;
	text-align: left;
}
nav .navList .navPic{
	margin: 0 auto;
}
main .form,
main .flow{
	text-align: center;
}
main .form h1,
main .flow h1{
	font-size: 60px;
	margin-bottom: 30px;
}
main .form h1 b,
main .flow h1 b{
	color: #99ace0;
}
main .flow h1 b{
	padding: 40px;
}

main .form .Fbox{
	text-align: center;
	height: 76px;
	border-bottom: 1px dashed #99ace0;
	display: flex;
  	align-items: center;
}
main .form .Fbox:last-child{
	border-bottom: 2px solid #dedede;
}
main .form .Fname,
main .form .Fdescribe
{
	height: 100%;
	float: left;
}
main .form .Fname{
	width: 20%;
}
main .form .Fname h3{
	display: inline-block;
	width: 106px;
	margin: 25px auto;
	font-size: 20px;
	font-weight: bold;
	color: yellow;
	background: #99ace0;
	position: relative;
}
main .form .Fname h3::before{
	position: absolute;
	content: "";
	left: 0;
	top: 100%;
	border-bottom: 10px solid #99ace0;
	border-right: 20px solid #99ace0;
	width: 0;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
}
main .form .Fname h3::after{
	position: absolute;
	right: -28px;
	content: "";
	border: 14px solid #99ace0;
	width: 0;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;
}
main .form .Fdescribe{
	text-align: left;
	width: 70%;
	display: flex;
  	align-items: center;
}
main .flow .flowMain{
	margin: 10px;
}
.introduce{
	margin: 50px;
}
.introduce .i2{
	position: relative;
}
.introduce .introduceT,
.introduce .introduceP{
	display: inline-block;
	float: left;
}
.introduce .introduceT{
	margin: 0 50px 50px 50px;
	width: 50%;
}
.introduce .introduceT:nth-child(even){
	position: absolute;
	bottom: 0;
	margin: 0 0 0 50px;
}
.introduce .introduceT h1{
	margin-bottom: 20px;
}
.introduce .introduceT p{
	font-size: 14px;
	line-height: 2;
}
/*.introduce .introduceT:nth-child(2){
	margin-bottom: 0;
}*/
.introduce .introduceP{
	width: 40%;
}
.picAndText{
	text-align: center;
}
.picAndText .pic1{
	position: relative;
}
.picAndText .bg1 img{
	display: block;
}
.picAndText .bg1{
	height: 432px;
	background: url(../img/mbg.png) no-repeat center center;
}

.picAndText .pic1 .pic1T{
	margin-left: 20px;
	position: absolute;
	top: 35%;
	left: 50%;
	font-size: 20px;
	color: #666;
}
.picAndText .pic1 .pic1T h1{
	font-size: 50px;
	color: #d45822;
}
.picAndText .pic1 .pic1T h2{
	font-size: 26px;
	color: #fff;
	padding-bottom: 10px;
}
.picAndText .pic1 .pic1T h2 b{
	padding: 0 10px;
	line-height: inherit;
	display: inline-block;
	font-size: 60px;
	font-weight: normal;
	color: #d45822
}
.picAndText .pic1 .pic1T h3,
.picAndText .pic1 .pic1T p{
	display: inline-block;
}
/*.picAndText .pic1T {
	font-size: 20px;
	color: #666;
}*/
.picAndText .pic1 .pic1T h3{
	color: #d45822;
	font-size: 26px;
	padding-left: 60px;
}


.picAndText .pic2{
	position: relative;
}
.picAndText .bg2{
	background: url(../img/bg.jpg) repeat center center;
	height: 264px;
	width: 100%;
}
.picAndText .pic2 .pic2T{
	min-width: 1200px;
	position: absolute;
	top: 40%;
	left: 20%;
}
.picAndText .pic2 .pic2T .bgList{
	display: inline-block;
	float: left;
	margin-right: 140px;
}
.picAndText .pic2 .pic2T .bgList h2{
	color: #fff;
	font-size: 20px;
	font-weight: normal;
}
.picAndText .pic2 .pic2T .bgList p{
	font-size: 16px;
	color: #bb2e3d;
	font-weight: bold;
}

#scroll{
	margin: 50px 0 100px;
	text-align: center;
}
#containerBox{
	border: 1px solid red;
	width: 1200px;
	margin: 0 auto;
}

#container {
	margin: 0 auto;
	width: 700px;
	height: 400px;
	overflow: hidden;
	position: relative;
}

#list {
	position: relative;
    width: 2800px;
    height: 400px;
    position:absolute;
    z-index: 1;
}
#list div{
	color: #717171;
    float: left;
    display: inline-block;
    width: 700px;
    height: 400px;
}
#list div h3{
	display: inline-block;
	font-size: 26px;
}
#list div p b{
	color:#d45822;
}
#list div p{
	margin: 5px;
}
#list div img{
	margin: 40px;
}

.arrow {
	cursor: pointer;
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 2;
	top: 40%;
}
#prev {
	background: url(../img/left.png) no-repeat center center;
	left: 0px;
}
#next {
	background: url(../img/right.png) no-repeat center center;
	right: 0px;
}

#scroll{
	margin: 50px 0;
	text-align: center;
}
#containerBox{
	width: 1200px;
	position: relative;
	margin: 0 auto;
}

#container {
	margin: 0 auto;
	width: 700px;
	height: 400px;
	overflow: hidden;
	position: relative;
}

#list {
    width: 2800px;
    height: 400px;
    position:absolute;
    z-index: 1;
}
#tuBox{
	margin-top: 100px;
}

#tu{
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
	border-top: 1px dashed #ddd;
}
#banner{
    width:500%;
	position: relative;
	height: 170px;
	overflow: hidden;
}
#bannerBox{
	position: relative;
	width: 1315px;
    height: 170px;
}
#bannerBox,#bannerEnd{
	padding-top: 10px;
	float: left;
}
#bannerBox img,
#bannerEnd img{
	display: inline-block;
	text-align: center;
	float: left;
	margin: 0 15px;
}

#bannerEnd img:nth-child(1){
	margin-left: 0;
}
.service{
	margin: 0 auto;
	max-width: 1200px;
}
.service a{
	font-size: 12px;
	color: #717171;
}
.service img{
	vertical-align: middle;
	padding: 3px 10px 3px 0;
}

.footer{
	margin: 0 auto;
	/*position: relative;*/
	color: #fff;
	margin-top: 30px;
	height: 390px;
	background: url(../img/fbg.jpg) no-repeat center center;
}
.footerW{
	text-align: center;
}
.footerBox{
	display: inline-block;
	padding-top: 50px;
	min-width: 1200px;
	height: 300px;
}
.footerContent{
	display: inline-block;
	width: 400px;
	height: 200px;
	float: left;
	padding-left: 10px;
	margin-right: 50px;
	text-align: left;
}
.footerContent h2{
	font-size: 18px;
	margin-bottom: 15px;
}
.footerContent span{
	padding: 0 20px;
	border-top: 2px solid #fff;
}
.footerContent p{
	font-size: 14px;
	line-height: 2;
}
.footer h3{
	font-size: 16px;
	font-weight: normal;
}
.footer h3 b{
	font-size: 15px;
	font-weight: normal;
	padding-left: 5px;
}

#btn{
	display: none;
	cursor: pointer;
    position: fixed;
    background: #d45822;
    border: 1px solid #d45822;
    font-size: 14px;
    bottom: 30px;
    right: 30px;
	padding: 10px;
    border-radius: 5px;
}